@import url('https://fonts.googleapis.com/css2?family=Poppins');

.header-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  position: fixed;
  width: 95%;
}

.hamburger-btn {
  color: blue;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f7f7f9;
  color: #172b4d;
}

.hori_line {
  list-style: none;
}

.HEAD {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
}

.canop {
  list-style: none;
  color: #344563;
}

.headline {
  background-image: url("../images/header-shapes-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.intro-message {
  font-style: normal;
  font-weight: bold;
  color: #172b4d;
}

.intro_1 {
  line-height: 0;
}

.intro_2 {
  line-height: 1;
}

.headline-text {
  color: #344563;
  font-size: 20px;
}

.link a {
  text-decoration: none;
  color: #18a0fb;
}

.social_media_icons {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}

.social_media_icons li {
  list-style: none;
  margin-left: -38px;
}

.Works {
  display: grid;
  grid-template-rows: repeat(4, minmax(200px, auto));
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 82px;
  background-color: white;
  padding-top: 12px;
  padding-left: 3px;
  padding-bottom: 30px;
  border-radius: 10px;
}

.exp .sub_tabs {
  display: flex;
  gap: 25px;
  margin-left: -35px;
}

.mini {
  color: #6b778c;
}

.img {
  align-self: center;
}

.myLans {
  display: flex;
  gap: 18px;
  list-style: none;
  margin-left: -35px;
}

.lan_tag {
  text-decoration: none;
  background-color: #ebebff;
  color: #717fff;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
}

.proj_button {
  width: 100px;
  height: 40px;
  border: 1px solid #6a91f5;
  background-color: white;
  border-radius: 5px;
  color: #6a91f5;
}

.proj_button:hover {
  background-color: #6070ff;
  color: white;
}

.proj_button:disabled {
  background-color: #fff;
  color: #5e6c84;
}

.about_two {
  line-height: 0;
}

.about-myself {
  margin-top: 150px;
  padding-top: 20px;
  background-color: white;
}

.myself_title {
  margin-left: 12px;
}

.myself-text {
  margin-left: 12px;
}

.about_myself_link {
  margin-left: 12px;
}

.about_myself_media {
  margin-left: 12px;
}

.skill_section {
  list-style: none;
  margin-left: -35px;
}

.skill_header {
  display: flex;
  gap: 150px;
}

.lan {
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 12px;
  gap: 8px;
  background-color: #f7f7f9;
  border-radius: 5px;
  padding-left: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.langs {
  margin-right: 50px;
  margin-left: -30px;
}

.sec_header {
  margin-left: 12px;
}

.frame_header {
  gap: 130px;
}

hr {
  margin-left: -23px;
  margin-right: 20px;
}

.my_skills {
  gap: 220px;
}

.contact_form {
  display: flex;
  flex-direction: column;
  background-image: url("../images/contact_shapes.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right;
  border: solid;
  height: 550px;
  background-color: #6070ff;
  width: 100%;
  margin-left: -2px;
  color: white;
  align-items: center;
}

.contactForm_info {
  margin-left: 25px;
  margin-right: 20px;
}

input[type=text] {
  width: 300px;
  height: 28px;
  border-radius: 8px;
  border-style: none;
}

input[type=email] {
  width: 300px;
  height: 28px;
  border-radius: 8px;
  border-style: none;
}

textarea {
  width: 300px;
  height: 100px;
  border-radius: 8px;
  color: #b3bac5;
  border-style: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.btn_submit {
  width: 108px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #6a91f5;
  background-color: white;
  color: #6070ff;
}

.btn_submit:hover {
  cursor: pointer;
}

.nav-menu {
  display: none;
}

.card_Desktop {
  display: none;
}

.my_desk_lan {
  display: none;
}

.desktop_title {
  display: none;
}

.desk_var {
  display: none;
}

@media only screen and (min-width: 915px) {
  .hamburger {
    display: none;
  }

  .small_sc {
    display: none;
  }

  .exp .desk_var {
    display: flex;
    gap: 12px;
  }

  .nav-menu {
    display: flex;
    gap: 12px;
    list-style: none;
    margin-top: -4px;
    color: #344563;
  }

  .headline {
    display: flex;
    flex-direction: column;
    background-image: url("../images/Header_bg_desktop.svg");
    background-position: center;
    margin: 25px;
    height: 800px;
    align-items: center;
  }

  .my_desk_lan {
    display: flex;
    gap: 18px;
    list-style: none;
    margin-left: -35px;
  }

  .reverse .myLans {
    display: none;
  }

  .proj_3 .myLans {
    display: none;
  }

  .intro_1 {
    font-weight: bold;
    font-size: 48px;
  }

  .intro_2 {
    font-weight: bold;
    font-size: 48px;
  }

  .headline-text p {
    font-size: 20px;
  }

  .intro-message {
    width: 920px;
  }

  .headline-text {
    width: 920px;
  }

  .link {
    width: 920px;
  }

  .social_media_icons {
    margin-right: 730px;
  }

  .card {
    flex-direction: row;
    gap: 46px;
    margin: 142px;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .card_Desktop {
    display: block;
    padding: 24px;
  }

  .img {
    display: none;
  }

  .card_info {
    width: auto;
    margin: 40px;
  }

  .lan_tag {
    padding-left: 0;
    padding-right: 0;
  }

  .small_screen {
    display: none;
  }

  .desktop_title {
    display: block;
  }

  .about-myself {
    display: flex;
    gap: 50px;
    margin-top: 10px;
    border-top-right-radius: 100px;
    padding-bottom: 100px;
  }

  .contact_form_heading {
    font-size: 40px;
    width: 569px;
  }

  .contactForm_info {
    font-size: 20px;
  }

  .skills_sec {
    width: 70%;
    margin-right: 182px;
  }

  .About_me {
    width: 30%;
    margin-left: 142px;
  }

  .skill_header {
    gap: 420px;
  }

  .langs {
    display: flex;
    gap: 12px;
  }

  .lan {
    display: block;
    width: 122px;
    height: 120px;
  }

  .the_lan {
    display: block;
  }

  .my_skills .skill_header {
    gap: 510px;
  }

  .myself_title {
    font-size: 40px;
    width: 447px;
  }

  .myself-text {
    font-size: 16px;
  }

  .contact_info_para {
    width: 498px;
  }

  .btn_submit {
    align-self: center;
  }

  input[type=text] {
    border-radius: 0;
  }

  input[type=email] {
    border-radius: 0;
  }

  #msg {
    border-radius: 0;
  }

  .contact_form {
    background-image: url("../images/contact_form_background_Desktop.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
    border-top-left-radius: 100px;
  }

  .lan_header {
    gap: 430px;
  }
}
