.header-container {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.hamburger-btn{
        color:blue;        
}

.headline {
    background-image: url("../header-shapes-mobile.png");
    background-repeat: no-repeat;
    height: 100vh;
    border:solid;
}
    
